@charset "utf-8";

// =======================
// Layout
// =======================

.l-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.l-ul {
  // position: fixed;
  top: 0;
  z-index: 20;
  height: 10%;
  margin: 0 auto;
  overflow: hidden;
  list-style: none;

  .l-li {
    display: inline-block;
    padding: 26px 10px 20px;
  }
}

.coias-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  list-style: none;

  .coias-li {
    padding: 0;
  }
}

.coias-button {
  width: auto;
  padding: 5px;
}

.cpias-input {
  width: 90%;
  height: 50%;
}

.coias-img {
  width: 90%;
  height: 90%;
}

.active {
  color: #fff !important;
}

.not-active:hover {
  color: white !important;
  cursor: pointer;
}

.not-active-no-hover:hover {
  color: gray !important;
  cursor: default;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  text-align: center;
}

.coias-view-main {
  height: 100vh;

  .container-fluid {
    height: calc(100% - 102px);

    .row {
      height: 100%;

      .col {
        height: 100%;
      }

      .col-md-11 {
        height: 100%;

        .container-fluid {
          height: calc(100% - 24px);

          .star-canvas-container {
            height: calc(100% - 50px);

            .col-sm-10 {
              height: 100%;
            }

            .col-sm-2 {
              height: 100%;
            }
          }

          .star-canvas-control {
            height: 50px !important;
            padding-top: 8px;
          }
        }
      }
    }
  }
}

.canvas-wapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: gray;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 0.25rem;

    --bg-opacity: 1;
  }
}

// 星のリストのスクロールバーを常に表示する
.star-list {
  height: calc(100% - 84px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 0.25rem;

    --bg-opacity: 1;
  }
}

#ex4{
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
